body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f2f2f2;
}
ul { list-style: none; padding-left: 5px; }
a { color:blue; text-decoration: none;}
.bar {
    background-color: #f2f2f2;
    padding:15px;   
    border-top:  1px solid #cdcdcd;
    border-bottom: 1px #cdcdcd;
}
.content {
    background-color: #f2f2f2;
    max-width: 1440px;
    margin: auto;
    grid-gap: 3rem;
    display: grid;
    gap: 3rem;
    grid-template-areas: "sidebar main anchors";
    grid-template-columns: minmax(0,15rem) minmax(0,2.5fr) minmax(0,15rem);
    padding-left: 0;
    padding-right: 0;
}

.anchors {
    border-left: solid 1px #cdcdcd;
    padding-left: 15px;
    background-color: #f2f2f2;
}
aside {
    border-right: solid 1px #cdcdcd;
    margin: 80;
    padding: 80;
}
nav {
    background-color: #f9f9fb;
    padding: 10px;
  }
.sidebar{
    background-color: #f2f2f2;
    border-right: solid 1px #cdcdcd;
    padding-right: 15px;
    background-color: #f2f2f2;
}
.sidebar li a:hover {
    color: red;
  }
footer{
    background-color: #f2f2f2;
    min-height: 100px;
    border-top: 1px solid #cdcdcd;
    text-align: center;
}
.logo{
    background-color: #f2f2f2;
}
.imgLogo{
    border-radius: 50%;
    margin: 15px;
}
form{
    display: flex;
    padding: 15px;
    margin: 15px;
}
.tabelinha {
    margin: 20px;
  }

  .tabelinha table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .tabelinha th, .tabelinha td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }

  .tabelinha th {
    background-color: #f2f2f2;
    color: #333;
  }

  .tabelinha tr:hover {
    background-color: #f5f5f5;
  }